.btn {
  padding: 10px 22px;
  border-radius: 50px;
  font-size: 20px;
  line-height: normal;
  &:active:focus,&:focus {
    box-shadow:none !important;
    /*box-shadow:0 0 0 0.2rem rgba(98, 91, 225, 0.9) !important;*/
  }
  &.btn-primary:not(:disabled):not(.disabled):active {
    background-color: $primary;
  }
}


.btn-primary {
  border-style: none;
  border-width: 0px;
  border-color: $primary;
  border-radius: 100px;
  background-color: $primary;
  color: #fff;
  font-size: 20px;
  margin-right: 16px;
  &.dropdown-toggle {
    background-color: $primary
  }
  @media (min-width: 767px) {
    margin-right: 24px;
  }
  &:hover,&:focus,&:active {
    background: $primary;
  }
}
.btn {
  &.btn-outline-primary:not(:disabled):not(.disabled):active, 
  &.btn-outline-primary:not(:disabled):not(.disabled).active {
     background: $primary;
  }
}


.btn-outline-primary {
  border: solid 2px $primary;
  color: $primary;
  box-sizing: border-box;
  &.btn {
    padding: 8px 22px;
  }
  &:hover,
  &:focus {
    background: $primary;
    color: #fff;
    border-color: $primary
  }
}

.btn-outline-white {
  border: solid 2px #fff;
  color: #fff;
  &:hover,
  &:focus {
    background: $primary;
    border-color: $primary;
    text-decoration: none;
    color: #fff;
  }
}

.btn-white {
  background: #fff;
  color: $primary;
}
